<header class="hero-unit" id="banner">
  <section class="container" ng-hide="vm.isLoggedIn">
    <h1>VotePlex</h1>
    <p class="lead">Create custom polls with live results</p>
    <button class="btn btn-lg btn-success main-signup" ng-show="vm.showBtn" ng-click="vm.showSignUp();"> Sign Up</button>
  </section>


  <section class="container" ng-show="vm.isLoggedIn">
    <h1>Dashboard</h1>
    <p class="lead">what would you like to do today?</p>
    <button class="btn btn-lg btn-success" ng-click=""> New Poll</button>
    <button class="btn btn-lg btn-primary" ng-click=""> My Polls</button>
  </section>
</header>